:root {
  --AI-msg-width: unset;
  --login-animation-duration: 1.2s;
  --login-animation-iteration: 1;
  --dark-contrast: #343434;
  --light-contrast: #efeeee;
  --primary-color: #6dc8e9;
  --secondary-color: #D04E1F;
  --tertiary-color: #ffffff;
  --accent-color: #44952b;
  --incorrect-color: #972020;
  --welcome-size: 2.5rem;
  --border-radius-average: 10px;
  --frutiger-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.3),
    0 8px 24px rgba(0, 0, 0, 0.4);
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Chiron Hei HK", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--dark-contrast)
}

#root {

  height: 100vh;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

label {
  display: inline-block;
}

input {
  padding: 1em .2em;
  border-radius: 10px;
  border: 1px rgb(132, 131, 131) solid;
  width: 100%;
}

input[type=file] {
  border: none;
  padding: 0;
}

.fit-all {
  height: 100vh;
}

.opts-wrapper:has(.option) {
  width: 100%;
  margin: 0;
}

.option {
  display: flex;
  flex-flow: column wrap;
}

.option-upper {
  display: flex;
  align-items: start;
  white-space: nowrap;
  margin-bottom: .2em;
}

.option-upper input[type=radio] {
  margin-right: auto;
}

input:focus {
  outline: none;
  border-width: 2px;
}

@keyframes slideup {

  from {
    transform: translateY(15vh);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes fade-in {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button {
  cursor: pointer;
  border-radius: 15px;
  color: #efeeee;
  background-color: var(--accent-color);
  border: none;
  padding: 1em;
  transition: background-color .3s ease-in-out;
  /* Depth shadows */
  box-shadow: var(--frutiger-shadow)
}

button:hover {
  background-color: #56bd36;
}

button a {
  color: var(--light-contrast);
  text-decoration: none;
}


button:disabled {
  background-color: gray;
  cursor: auto;
}

.grandient-background {

  background-image: linear-gradient(to bottom, var(--tertiary-color), var(--primary-color));
}

.blue-background {
  background-color: var(--primary-color)
}

.nav {
  background-color: var(--light-contrast);
  width: 100%;
  padding: 2em;
  box-shadow: var(--frutiger-shadow);
  position: relative;
  z-index: 10;
}


.nav li {
  list-style: none;
  display: inline-block;
  margin-inline: 2vw;
}

.nav a {
  color: var(--accent-color);
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline var(--accent-color) 2px;
}


.body-wrapper {
  background-color: rgb(234, 233, 233);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  position: absolute;
  grid-template-columns: 50% 50%;
  grid-template-rows: 8rem 47vh 1fr;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 2px 1px gray;
  border-radius: 10px;
  background-image: linear-gradient(to left, #6dc8e9, var(--light-contrast), var(--secondary-color))
}


.login-wrapper>div {
  display: flex;
  flex-flow: column nowrap;
  color: rgb(52 52 52);
}

.login-actions {
  grid-column: 1;
  text-align: center;
  grid-row: 2
}

.login-actions h1 {
  margin-bottom: 5rem;
  font-weight: 500;
}

.login-actions small {
  display: inline-block;
  margin-bottom: 2rem;
}



.login-button {
  font-family: "Chiron Hei HK", sans-serif;
  margin-inline: auto;
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: .3em;
  background-color: var(--accent-color);
  color: var(--light-contrast);
  border: none;
  grid-row: 3;
}


.login-button img {
  width: 20px;
  height: 20px;
}


.flowing-text {
  text-align: center;
  margin-inline: auto;
  margin-bottom: 0;
  grid-row: 3;
  font-weight: 460;
  opacity: 0;
  animation: fade-in ease-in-out forwards;
  animation-duration: calc(var(--login-animation-duration) - .4s);
  animation-delay: calc(var(--login-animation-duration) + .4s);
  animation-iteration-count: var(--login-animation-iteration);
}

.sliding-image {
  height: 100%;
  margin: auto;
  grid-column: 2;
  grid-row: 2;
  width: fit-content;
  object-fit: contain;
  object-position: top;
  animation: slideup ease-in-out forwards;
  animation-duration: var(--login-animation-duration);
  animation-iteration-count: var(--login-animation-iteration);
}

.welcome {
  padding: 4vh;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--secondary-color);
}

.welcome .message {
  font-size: var(--welcome-size);
}

.welcome .name {
  font-size: calc(var(--welcome-size) * 2);
}

.main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5vh 15vw;
  gap: 3vw;
}



a:has(.add-symbol) {
  text-decoration: none;
  color: var(--dark-contrast);
  background-color: #efeeee7f;
  border-radius: 10px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20%;
  transition: transform .3s ease-in-out, color .3s ease-in-out;
}

a:has(.add-symbol):hover {
  transform: scale(1.1);
  color: #6d6d6d;
}

a:has(.add-symbol):hover .add-symbol {
  color: #6d6d6d
}

.add-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(208, 207, 207, 0.763);
  color:var(--dark-contrast);
  height: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 5vw;
  transition: color .3s ease-in-out;
}

.inline-elements {
  display: flex;
  flex-flow: row wrap;
  gap: 4%;
}

.section-margin {
  margin: 3rem;
}

.deck-link {
  aspect-ratio: 1/1;
  padding: 1em 1em 0 1em;
  box-shadow: var(--frutiger-shadow);
}

.deck-link p {
  font-size: .9rem;
}

.deck-link .inline-elements p {
  margin-block: .5rem;
}

.deck-link-description {
  margin-block: 10%;
}

.deck-link a {
  color: var(--dark-contrast)
}

.card {
  width: 18%;
  background-color: var(--light-contrast);
  border-radius: 10px;
  list-style: none;
  position: relative;
  transition: .3s background-color ease-in-out, transform .3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.studying-illustration {
  background-image: url(./assets/Study.png);
  background-color: #edbead;
}

.studying-illustration:hover {
  background-color: var(--secondary-color);
}

.AI-illustration {
  background-image: url(./assets/Robot.png);
  background-color: #9ddbf1af;
}

.AI-illustration:hover {
  background-color: var(--primary-color);
}

.card a {
  text-decoration: none;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card:hover a {
  text-decoration: underline;
}

.has-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 4/2;
  width: 100%;
}

.has-background a {
  color: var(--light-contrast);
}

.has-background:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.373);
  position: absolute;
  inset: 0;
  border-radius: 10px;
}


.lessons-container {
  /* width: 50vw; */
  background-color: var(--light-contrast);
  box-shadow: 1px 1px 2px gray;
  border-radius: var(--border-radius-average);
  overflow-y: scroll;
  padding-inline: 1rem;
  border: 1px solid var(--dark-contrast);
  height: 25vh;
  grid-column: span 2;
}

::-webkit-scrollbar {
  width: 10px;
}


.lessons-container::-webkit-scrollbar-track {
  /* background: rgb(76, 76, 76);  */
  border-radius: var(--border-radius-average);
  padding: 1px;
}


.lessons-container::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);
  height: 10px;
  border-radius: var(--border-radius-average);
}

.lessons-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lesson {
  border: gray;
  list-style: none;
  padding-block: 1rem;
}

.lesson:not(:last-of-type) {
  border-bottom: 1px solid var(--dark-contrast);

}

.lesson a {
  color: var(--dark-contrast);
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.user-msg {
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 20px;
  margin-block: 5%;
  width: fit-content;
}



.AI-words {
  opacity: 0;
  transition: .3s ease-in-out opacity;

}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}


.flashcard-wrapper {
  position: absolute;
  inset: 0;
  align-content: center;
}


.flashcard {
  position: relative;
  background-color: var(--light-contrast);
  margin-inline: auto;
  border-radius: 10px;
  width: 30%;
  box-shadow: var(--frutiger-shadow);
  transition: .8s ease-in-out transform;
  transform-style: preserve-3d;
}


.form-wrapper {
  position: absolute;
  inset: 0;
  align-content: center;
}

.form-wrapper form {
  margin-inline: auto;
  background-color: var(--light-contrast);
  height: 60vh;
  width: 30vw;
  padding: 2em 2em 0 2em;
  box-shadow: var(--frutiger-shadow);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: .8s transform ease-in-out;
}

.deck-form h1,
.flashcard-form h2 {
  margin-block: 0 1rem;
}

.card-count {
  margin-block: .2rem 2rem;
}

.deck-form {
  position: relative;
  z-index: 1;
}

.flashcard-form {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: inherit;
}

.form-error {
  color: var(--incorrect-color);
  font-size: .7rem;
  margin-block: 0;
}

.translate-left {
  transform: translateX(-20vw);
}

.align-buttons {
  flex-grow: 1;
  display: flex;
  align-items: center;
}


.align-buttons button:last-child {
  margin-left: auto;
}

.translate-right {
  opacity: 1;
  transform: translate(0%, -50%);
}

label:has(.switch) {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  height: fit-content;
  padding-top: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  gap: 20%;
  background-color: rgb(156, 155, 155);
  border-radius: 20px;
  height: 40px;
  width: 80px;
  cursor: pointer;
  margin-left: auto;
}

.slider {
  display: inline-block;
  position: absolute;
  left: 4%;
  top: 10%;
  background-color: var(--light-contrast);
  border-radius: inherit;
  height: 80%;
  aspect-ratio: 1/1;
  transition: transform .3s ease-in-out;
}

.turn-on {
  transform: translateX(130%);
}

.turn-on-background {
  background-color: var(--accent-color);
}

.switch+input {
  opacity: 0;
  position: absolute;
}

.flashcard p {
  font-weight: 600;
  margin-block: 5vh 3vh
}

.flashcard img {
  width: 15vw;
  max-width: 40%;
}

.flashcard-btn {
  border: none;
  padding: 1em;
  margin-block: 7vh;
  background-color: var(--accent-color);
}

.flashcard-btn:focus {
  background-color: aqua;
  border: rgb(255, 163, 178);
}

.rotate {
  transform: rotateY(180deg);
}

.back,
.front {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  backface-visibility: hidden;
}

.back {
  display: none;
  transform: rotateY(180deg);
  position: absolute;
  inset: 0;
  height: 100%;
}


.rotate .back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opts-wrapper {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-inline: 5%;
  /* border:1px solid blue */
}

.flashcard-opts {
  color: var(--dark-contrast);
  background-color: var(--light-contrast);
  border: 2px solid rgb(151, 151, 151);
  box-shadow: 1px 2px 3px gray;
  width: 25%;
}

.flashcard .confirm {

  margin-block: 5vh 0;
  width: 100%;
  border-radius: 10px;
}

.selected {

  background-color: aqua;
}

.feedback-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30%;
  padding: 6vh 0;
  background-color: #7b929aa0
}

.feedback-wrapper>* {
  margin-inline: auto;
}

.feedback-wrapper button {

  width: 10%;
}


.difficulty-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  min-width: 20%;
}

.difficulty-options button {
  width: fit-content;
  padding-inline: 1.5em;
}

.easy {
  background-color: rgb(17, 141, 141);
}

.medium {
  background-color: var(--secondary-color);
}

.hard {
  background-color: var(--incorrect-color);
}

.correct {

  background-color: var(--accent-color);
}

.green-highlight {
  color: var(--accent-color)
}

.red-highlight {
  color: var(--incorrect-color)
}

.wrong {
  background-color: var(--incorrect-color);
}