:root {
  --AI-msg-width: unset;
  --login-animation-duration: 1.2s;
  --login-animation-iteration: 1;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Chiron Hei HK", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes slideup {

  from {
    transform: translateY(15vh);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes fade-in {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button {
  cursor: pointer;
}

.body-wrapper {
  background-color: rgb(234, 233, 233);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  position: absolute;
  grid-template-columns: 50% 50%;
  grid-template-rows: 8rem 47vh 1fr;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 2px 1px gray;
  border-radius: 10px;
  background-image: linear-gradient(to right, #6dc8e9, white, #e98e6d)
}

.login-wrapper>div {
  display: flex;
  flex-flow: column nowrap;
  color: rgb(52 52 52);
}

.login-actions {
  grid-column: 1;
  text-align: center;
  grid-row: 2
}

.login-actions h1 {
  margin-bottom: 5rem;
  font-weight: 500;
}

.login-actions small {
  display: inline-block;
  margin-bottom: 2.5rem;
}



.login-button {
  font-family: "Chiron Hei HK", sans-serif;
  margin-inline: auto;
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: .3em;
  padding: .8em;
  border-radius: 5px;
  background-color: #8ae96d;
  color: white;
border: none; 
box-shadow: 1px 1px 3px gray;
  grid-row: 3;
}

.login-button:hover {
  background-color: #d8dfe7;
}

.login-button img {
  width: 20px;
  height: 20px;
}


.flowing-text {
  text-align: center;
  margin-inline: auto;
  margin-bottom: 0;
  grid-row: 3;
  font-weight: 460;
  opacity: 0;
  animation: fade-in ease-in-out forwards;
  animation-duration: calc(var(--login-animation-duration) - .4s);
  animation-delay: calc(var(--login-animation-duration) + .4s);
  animation-iteration-count: var(--login-animation-iteration);
}

.sliding-image {
  height: 100%;
  margin: auto;
  grid-column: 2;
  grid-row: 2;
  width: fit-content;
  object-fit: contain;
  object-position: top;
  animation: slideup ease-in-out forwards;
  animation-duration: var(--login-animation-duration);
  animation-iteration-count: var(--login-animation-iteration);
}

.user-msg {

  background-color: rgb(88, 198, 88);
  padding: 10px;
  border-radius: 20px;
  margin-block: 5%;
  width: fit-content;
}



.AI-words {
  opacity: 0;
  transition: .3s ease-in-out opacity;

}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.flashcard-btn:focus {
  background-color: aqua;
  border: rgb(255, 163, 178);
}

.correct {

  background-color: green;
}

.wrong {
  background-color: red;
}